---
- name: Base tasks
  hosts: all
  become: true

  roles:
    - prometheus.prometheus.node_exporter

  tasks:
    - name: Install htop
      ansible.builtin.dnf:
        name: htop
        state: present

    - name: Install vim
      ansible.builtin.dnf:
        name: vim
        state: present
