---
- name: Base tasks
  hosts: all
  become: true

  roles:
    - prometheus.prometheus.node_exporter

  tasks:
    - name: Install htop
      ansible.builtin.dnf:
        name: htop
        state: present

    - name: Install vim
      ansible.builtin.dnf:
        name: vim
        state: present

    - name: Install NFS packages
      ansible.builtin.dnf:
        name: nfs-utils
        state: present

    - name: Start nfs-utils service
      ansible.builtin.service:
        name: nfs-utils
        state: started

    - name: Start rpcbind service
      ansible.builtin.service:
        name: rpcbind
        state: started

    - name: Start nfs-mountd service
      ansible.builtin.service:
        name: nfs-mountd
        state: started
