---
- name: Base tasks
  hosts: all
  become: true

  roles:
    - prometheus.prometheus.node_exporter

  tasks:
    - name: Install base packages
      ansible.builtin.dnf:
        name:
          - htop
          - vim
          - nfs-utils
          - rsync

    - name: Start nfs-utils service
      ansible.builtin.service:
        name: nfs-utils
        state: started

    - name: Start rpcbind service
      ansible.builtin.service:
        name: rpcbind
        state: started

    - name: Start nfs-mountd service
      ansible.builtin.service:
        name: nfs-mountd
        state: started
