---
- name: Configure Prometheus for qual environment
  hosts: qual:&monitoring
  become: true

  roles:
    - prometheus.prometheus.prometheus
  vars:
    prometheus_scrape_configs:
      - job_name: "node-exporter"
        static_configs:
          - targets:
              - "192.168.20.253:9100"
              - "192.168.20.252:9100"
              - "192.168.20.251:9100"
        relabel_configs:
          - source_labels: [__address__]
            target_label: instance

- name: Configure Prometheus for prod environment
  hosts: prod:&monitoring
  become: true

  roles:
    - prometheus.prometheus.prometheus
  vars:
    prometheus_scrape_configs:
      - job_name: "node-exporter"
        static_configs:
          - targets:
              - "192.168.10.253:9100"
              - "192.168.10.252:9100"
              - "192.168.10.251:9100"
        relabel_configs:
          - source_labels: [__address__]
            target_label: instance
