iptables.sh
packer/variables.pkr.hcl
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/variables.tfvars
ansible/variables/storage_variables.yml
