iptables.sh
packer/variables.pkr.hcl
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/variables.tfvars
ansible/infra/qual/vpn_variables.yml
docker/.env
docker/config/headscale/config.yaml
docker/config/headplane/config.yaml
