iptables.sh
packer/variables.pkr.hcl
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/variables.tfvars
ansible/infra/prod/variables/storage_variables.yml
ansible/infra/prod/variables/tailscale_variables.yml
docker/.env
