#!/bin/sh

### Variables ###

PMX_Public_Int="vmbr0"
PMX_Interco_Int="vmbr1"
PMX_LAN_Int="vmbr2"

Interco_NET="10.0.0.0/30"
LAN_NET="192.168.2.0/24"

PublicHomeIP=""
PublicIP=""
PublicIP_v6=""
PMX_Interco_IP="10.0.0.1"
PMX_LAN_IP="192.168.2.253"
OPNSense_Interco_IP="10.0.0.2"
VPS_IP=""


SSH_PORT=""

### Clean rules & Drop ###
echo "Cleaning rules and drop all flux"

iptables -F
iptables -t nat -F
iptables -t mangle -F
iptables -X

ip6tables -F
ip6tables -t nat -F
ip6tables -t mangle -F
ip6tables -X

ip6tables -P INPUT DROP
ip6tables -P OUTPUT DROP
ip6tables -P FORWARD DROP

iptables -P OUTPUT DROP
iptables -P INPUT DROP
iptables -P FORWARD DROP

### Chains ###

echo "Creating chains"

iptables -N TCP
iptables -N UDP

iptables -A INPUT -p udp -m conntrack --ctstate NEW -j UDP
iptables -A INPUT -p tcp --syn -m conntrack --ctstate NEW -j TCP


### Global Rules ###

echo "Applying global rules"

iptables -A INPUT -i lo -j ACCEPT
iptables -A OUTPUT -o lo -j ACCEPT

ip6tables -A INPUT -i lo -j ACCEPT
ip6tables -A OUTPUT -o lo -j ACCEPT

iptables -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
iptables -A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

ip6tables -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
ip6tables -A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

### INPUT rules ###
echo "Applying input rules"

iptables -A TCP -i $PMX_Public_Int -s $PublicIP -d $PublicIP -p tcp --dport ${SSH_PORT} -j ACCEPT
iptables -A TCP -i $PMX_Interco_Int -d $PMX_Interco_IP -p tcp --dport ${SSH_PORT} -j ACCEPT

iptables -A TCP -i $PMX_Public_Int -s $PublicHomeIP -d $PublicIP -p tcp --dport 8006 -j ACCEPT

iptables -A INPUT -p icmp -s $PublicHomeIP --icmp-type 8 -m conntrack --ctstate NEW -j ACCEPT

iptables -A INPUT -p icmp -s $VPS_IP --icmp-type 8 -m conntrack --ctstate NEW -j ACCEPT


# Allow Ping from OVH Monitoring system

iptables -A INPUT -p icmp -s "92.222.184.0/24","92.222.185.0/24","92.222.186.0/24","167.114.37.0/24","139.99.1.144/28","193.70.125.118","148.113.25.1","139.99.187.247","72.251.7.222","51.195.135.163","51.38.117.56","51.38.25.100","57.130.4.212","213.186.33.13","135.125.180.250","135.125.180.251" --icmp-type 8 -m conntrack --ctstate NEW -j ACCEPT

iptables -A INPUT -p udp -s "135.125.180.251" --match multiport --dports 6100:6200 -j ACCEPT

iptables -A TCP -i $PMX_Interco_Int -d $PMX_Interco_IP -p tcp --dport 8006 -j ACCEPT

### OUTPUT Rules ##
echo "Applying output rules"

iptables -A OUTPUT -o $PMX_Interco_Int -s $PMX_Interco_IP -p tcp --sport 8006 -j ACCEPT

echo "[OUTPUT] Allow ping out"
iptables -A OUTPUT -p icmp -j ACCEPT

echo "[OUTPUT] Allow HTTP/HTTPS/DNS"
iptables -A OUTPUT -o $PMX_Public_Int -s $PublicIP -p tcp --dport 80 -j ACCEPT
iptables -A OUTPUT -o $PMX_Public_Int -s $PublicIP -p tcp --dport 443 -j ACCEPT
iptables -A OUTPUT -o $PMX_Public_Int -s $PublicIP -p udp --dport 53 -j ACCEPT

ip6tables -A OUTPUT -o $PMX_Public_Int -s $PublicIP_v6 -p tcp --dport 80 -j ACCEPT
ip6tables -A OUTPUT -o $PMX_Public_Int -s $PublicIP_v6 -p tcp --dport 443 -j ACCEPT
ip6tables -A OUTPUT -o $PMX_Public_Int -s $PublicIP_v6 -p udp --dport 53 -j ACCEPT

echo "[OUTPUT] Allow SSH out"
iptables -A OUTPUT -o $PMX_Public_Int -s $PublicIP -p tcp --sport ${SSH_PORT} -j ACCEPT
iptables -A OUTPUT -o $PMX_Interco_Int -s $PMX_Interco_IP -p tcp --sport ${SSH_PORT} -j ACCEPT

iptables -A OUTPUT -o $PMX_Public_Int -s $PublicIP -p tcp --sport 8006 -j ACCEPT

### FORWARD Rules ###
echo "Applying forward rules"

echo "[FORWARD] Forward all TCP traffic to OPNSense except ${SSH_PORT} and 8006 ports"
iptables -t nat -A PREROUTING -i $PMX_Public_Int -p tcp --match multiport ! --dports ${SSH_PORT},8006 -j DNAT --to $OPNSense_Interco_IP

echo "[FORWARD] Forward all UDP traffic to OPNSense"
iptables -t nat -A PREROUTING -i $PMX_Public_Int -p udp -j DNAT --to $OPNSense_Interco_IP

iptables -t nat -A PREROUTING -i $PMX_Public_Int -p gre -j DNAT --to $OPNSense_Interco_IP

echo "[FORWARD] Allow request forwarding to OPNSense WAN interface"
iptables -A FORWARD -i $PMX_Public_Int -d $OPNSense_Interco_IP -o $PMX_Interco_Int -p tcp -j ACCEPT
iptables -A FORWARD -i $PMX_Public_Int -d $OPNSense_Interco_IP -o $PMX_Interco_Int -p udp -j ACCEPT

echo "[FORWARD] Allow request forwarding from LAN"
iptables -A FORWARD -i $PMX_Interco_Int -s $Interco_NET -j ACCEPT

### MASQUERADE Rule ###
echo "Applying masquerade rule"

iptables -t nat -A POSTROUTING -s $Interco_NET -o $PMX_Public_Int -j MASQUERADE
