#!/bin/bash

# Home's IP address
HomeIP=""

# Port of the SSH server
SSHPort=""

### RESET ###
# Deletes FW_Rules table
nft delete table ip FW_Rules

### CREATE ###
# Creates FW_Rules table 
nft add table ip FW_Rules

# Creates chain for incoming packets
nft add chain ip FW_Rules input {type filter hook input priority 0\;}

# Creates chain for outcoming packets
nft add chain ip FW_Rules output {type filter hook output priority 0\;}

# Creates chain for forwarding packets
nft add chain ip FW_Rules forward {type filter hook forward priority 0\;}

nft add chain ip FW_Rules prerouting {type nat hook prerouting priority 0\;}

# Creates chain for postrouting packets
nft add chain ip FW_Rules postrouting {type nat hook postrouting priority 0\;}

### INPUT ###

# Accepts incoming packets from localhost
nft add rule ip FW_Rules input iif lo accept

# Accepts incoming packets for established connections
nft add rule ip FW_Rules input ct state established,related accept

# Accepts incoming packets from home's IP address to Proxmox WebUI
nft add rule ip FW_Rules input ip saddr $HomeIP tcp dport 8006 accept

# Accepts incoming packets from home's IP address to SSH
nft add rule ip FW_Rules input ip saddr $HomeIP tcp dport $SSHPort accept

# Accepts pings from home's IP address
nft add rule ip FW_Rules input ip saddr $HomeIP icmp type echo-request accept

# Accepts ICMP echo-reply packets
nft add rule ip FW_Rules input icmp type echo-reply accept

# Accepts ICMP echo-request packets from VPS
nft add rule ip FW_Rules input ip saddr 51.254.129.11 icmp type echo-request accept

# Accepts GRE packets from VPS
nft add rule ip FW_Rules input ip saddr 51.254.129.11 ip protocol gre accept

# Accepts ICMP echo-request packets from GRE tunnel VPS IP
nft add rule ip FW_Rules input iif infra ip saddr 10.1.1.2 icmp type echo-request accept

### OUTPUT ###

# Accepts outcoming packets from localhost
nft add rule ip FW_Rules output oif lo accept

# Accepts outcoming packets from Proxmox WebUI
nft add rule ip FW_Rules output tcp sport 8006 accept

# Accepts outcoming packets from SSH server
nft add rule ip FW_Rules output tcp sport $SSHPort accept

# Accepts outcoming packets to HTTP servers
nft add rule ip FW_Rules output tcp dport 80 accept

# Accepts outcoming packets to HTTPS servers
nft add rule ip FW_Rules output tcp dport 443 accept

# Accepts outcoming packets to DNS servers
nft add rule ip FW_Rules output udp dport 53 accept

# Accepts outcoming pings packets from this server
nft add rule ip FW_Rules output icmp type echo-request accept

# Accepts to reply to pings from home's IP address
nft add rule ip FW_Rules output ip daddr $HomeIP icmp type echo-reply accept

# Accepts outcoming ICMP echo-reply packets to VPS
nft add rule ip FW_Rules output ip daddr 51.254.129.11 icmp type echo-reply accept

# Accepts outcoming GRE packets to VPS
nft add rule ip FW_Rules output ip daddr 51.254.129.11 ip protocol gre accept

# Accepts outcoming ICMP echo-reply packets in GRE tunnel
nft add rule ip FW_Rules output oif infra ip daddr 10.1.1.2 icmp type echo-reply accept


### PREROUTING ###
nft add rule ip FW_Rules prerouting iif vmbr0 tcp dport != {$SSHPort, 8006} dnat 10.0.0.2

nft add rule ip FW_Rules prerouting iif vmbr0 ip protocol udp dnat 10.0.0.2

### FORWARD ###

nft add rule ip FW_Rules forward ip saddr 10.1.1.2 ip daddr 192.168.98.0/24 accept
nft add rule ip FW_Rules forward ip daddr 10.1.1.2 ip saddr 192.168.98.0/24 accept

nft add rule ip FW_Rules forward ip saddr 10.1.1.2 ip daddr 192.168.99.0/24 accept
nft add rule ip FW_Rules forward ip daddr 10.1.1.2 ip saddr 192.168.99.0/24 accept

nft add rule ip FW_Rules forward iif vmbr1 ip saddr "10.0.0.0/30" accept
nft add rule ip FW_Rules forward oif vmbr1 ip daddr "10.0.0.0/30" accept

nft add rule ip FW_Rules forward iif vmbr0 oif vmbr1 ip daddr 10.0.0.2 ip protocol tcp accept
nft add rule ip FW_Rules forward iif vmbr0 oif vmbr1 ip daddr 10.0.0.2 ip protocol udp accept
### MASQUERADE ###
# NAT Masquerade
nft add rule ip FW_Rules postrouting oif vmbr0 ip saddr "10.0.0.0/30" masquerade

### DROP ###

# Blocks all other incoming packets
nft add rule ip FW_Rules input drop

# Blocks all other outcoming packets
nft add rule ip FW_Rules output drop

# Blocks all other forwarding packets
nft add rule ip FW_Rules forward drop
