graphical

# add base repositories with mirrors
repo --name="alamalinux10-baseos" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/10/baseos"
repo --name="alamalinux10-appstream" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/10/appstream"

# add epel repo with mirrors
repo --name="epel10-everything" --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=epel-10&arch=x86_64"

# add CRB with mirrors
repo --name="CRB" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/10/crb/"

keyboard --vckeymap=fr-mac --xlayouts='fr (mac)'

lang en_US.UTF-8

network --bootproto=dhcp

%packages
@^minimal-environment
epel-release

@guest-agents

%end

firstboot --enable

ignoredisk --only-use=sda
autopart

clearpart --none --initlabel

timezone Europe/Paris --utc

rootpw --iscrypted $y$j9T$fW6Qu6SCNGTYFFDdDIRJF7.n$qz4f4elgF3mO5sQyx9ofUsdVni8Vl0VwkXZnfKDdcZ6

%post
sed -i 's/^.PermitRootLogin.*/PermitRootLogin yes/g' /etc/ssh/sshd_config
dnf install -y cloud-init qemu-guest-agent
%end

reboot
