graphical

# add base repositories with mirrors
repo --name="alamalinux10-baseos" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/10/baseos"
repo --name="alamalinux10-appstream" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/10/appstream"

# add epel repo with mirrors
repo --name="epel10-everything" --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=epel-10&arch=x86_64"

# add CRB with mirrors
repo --name="CRB" --mirrorlist="https://mirrors.almalinux.org/mirrorlist/10/crb/"

keyboard --vckeymap=fr-mac --xlayouts='fr (mac)'

lang en_US.UTF-8

network --bootproto=dhcp

%packages
@^minimal-environment
epel-release

@guest-agents

%end

firstboot --enable

ignoredisk --only-use=sda
autopart

clearpart --none --initlabel

timezone Europe/Paris --utc

rootpw --iscrypted $y$j9T$fW6Qu6SCNGTYFFDdDIRJF7.n$qz4f4elgF3mO5sQyx9ofUsdVni8Vl0VwkXZnfKDdcZ6
user --name=jeremy --gecos="Jeremy"
user --name=packer --lock
user --name=ansible --gecos="Ansible"

%post
dnf install -y cloud-init qemu-guest-agent
mkdir /home/jeremy/.ssh
mkdir /home/packer/.ssh
mkdir /home/ansible/.ssh
echo 'sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIFy1r2+Fm3U2ytnHVkpNx3q4sGwpdjHzOHscoGsA7cVHAAAABHNzaDo= me@jeremytomasi.fr' > /home/jeremy/.ssh/authorized_keys
echo 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDV5qELMhNdu+KM/cYrIKppySp/DX7iQ82JxNVSqAMiJ packer' > /home/packer/.ssh/authorized_keys
echo 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIBwGmqbiUBNB57mxpdJcy9tND5cApCARwDnE0ZTcjqJ ansible' > /home/ansible/.ssh/authorized_keys
%end

reboot
